@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: #FAFAFA;
  --color-base-300: #E4E4E7;
  --color-base-content: #18181B;
  --color-primary: #2563EB;
  --color-primary-content: #FFFFFF;
  --color-secondary: #71717A;
  --color-secondary-content: #FFFFFF;
  --color-accent: #18181B;
  --color-accent-content: #FFFFFF;
  --color-neutral: #27272A;
  --color-neutral-content: #FAFAFA;
  --color-info: #0EA5E9;
  --color-info-content: #FFFFFF;
  --color-success: #10B981;
  --color-success-content: #FFFFFF;
  --color-warning: #F59E0B;
  --color-warning-content: #FFFFFF;
  --color-error: #E11D48;
  --color-error-content: #FFFFFF;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-100: oklch(20% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: #2563EB;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #71717A;
  --color-secondary-content: #FFFFFF;
  --color-accent: oklch(72% 0.03 286);
  --color-accent-content: oklch(15% 0.01 286);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-success: oklch(76% 0.15 162);
  --color-success-content: oklch(20% 0.03 162);
  --color-warning: oklch(82% 0.16 80);
  --color-warning-content: oklch(20% 0.03 80);
  --color-error: oklch(68% 0.19 18);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@media print {
  @page {
    margin: 0; /* atau margin: 5mm kalau mau sedikit ruang */
    size: auto;
  }

  
}
